---
title: Blog
url: blog
---

<section class="content articles">
	<!--<h1 class="gigaHeading text-centre page-title">Page title example</h1>
	<h2 class="text-intro text-centre">Blog and portfolio of Ashley Nolan</h2>-->

	 {{!-- {{list posts}} --}}
	{{#withSort post 'data.posted'}}
		{{#each this.pages}}
			{{this.key}}
			<article class="separator-bottom">
				<time>{{moment this.data.posted format="DD/MM/YYYY" }}</time>
				<h2><a href="{{replaceStr this.dirname 'dist' ''}}/{{this.data.url}}">{{ this.data.title }}</a></h2>
				<p>{{ this.data.description }}</p>
			</article>
		{{/each}}
	{{/withSort}}
</section>