---
title:
---

<section class="content articles">

	<h2 class="articles-subhead separator-bottom">Recent Posts</h2>
	<!--<h1 class="gigaHeading text-centre page-title">Page title example</h1>
	<h2 class="text-intro text-centre">Blog and portfolio of Ashley Nolan</h2>-->

	 {{!-- {{list posts}} --}}
	{{#withSort post 'data.posted'}}
		{{#each_upto this.pages 3}}
			{{this.key}}
			<a href="{{replaceStr this.dirname 'dist' ''}}/{{this.data.url}}" class="articles-item separator-bottom">
				<article>
					<time>{{moment this.data.posted format="DD/MM/YYYY" }}</time>
					<h2 class="articles-item-title">{{ this.data.title }}</h2>
					<p class="articles-item-description">{{ this.data.description }}</p>
				</article>
			</a>
		{{/each_upto}}
	{{/withSort}}
</section>

<!-- Homepage carousel -->
<section id="homeCarousel" class="homeCarousel">
	<h2 class="homeCarousel-title">Recent Work</h2>

	<div class="homeCarousel-wrapper">
		<div class="homeCarousel-carousel">
			<article id="workArticle4" class="homeCarousel-carousel-item" data-name="BBC GoodFood">
				<a href="work#bbcgoodfood" title="BBC GoodFood">
					<img class="featureImg" src="assets/img/work/home-bbc.png" alt="">
					<div class="homeCarousel-carousel-item-title"><h3>BBC GoodFood</h3></div>
				</a>
			</article>
			<article id="workArticle5" class="homeCarousel-carousel-item" data-name="TMW Kickoff">
				<a href="work#kickoff" title="Kickoff">
				<img class="featureImg" src="assets/img/work/home-kickoff.png" alt="">
					<div class="homeCarousel-carousel-item-title"><h3>TMW Kickoff</h3></div>
				</a>
			</article>
			<article id="workArticle1" class="homeCarousel-carousel-item" data-name="Uncharted 3">
				<a href="work#uncharted" title="Uncharted 3">
				<img class="featureImg" src="assets/img/work/home-uncharted.jpg" alt="">
					<div class="homeCarousel-carousel-item-title"><h3>Uncharted 3 </h3></div>
				</a>
			</article>
			<article id="workArticle2" class="homeCarousel-carousel-item" data-name="RSPCA">
				<a href="work#rspca" title="RSPCA">
				<img class="featureImg" src="assets/img/work/home-rspca.jpg" alt="">
					<div class="homeCarousel-carousel-item-title"><h3>RSPCA</h3></div>
				</a>
			</article>
			<article id="workArticle3" class="homeCarousel-carousel-item" data-name="Lynx Mass Debates">
				<a href="work#lynxmassdebates" title="Lynx Mass Debates">
				<img class="featureImg" src="assets/img/work/home-massdebates.png" alt="">
					<div class="homeCarousel-carousel-item-title"><h3>Lynx Mass Debates</h3></div>
				</a>
			</article>
		</div>

		<div id="homeCarousel-canvasFrame" class="homeCarousel-canvasFrame">
			<a href="" id="homeCarousel-canvasFrame-link" class="homeCarousel-canvasFrame-link">
				<canvas id="homeCarousel-canvasFrame-canvas" class="homeCarousel-canvasFrame-canvas" width="618" height="272"></canvas>
				<div class="homeCarousel-carousel-item-title">
					<h3>BBC GoodFood</h3>
				</div>
			</a>
		</div>
	</div>
</section><!-- End of work section panel -->