---
title: Home

rss: false
---

<section class="content articles">

	<h2 class="articles-subhead separator-bottom">Recent Posts</h2>
	<!--<h1 class="gigaHeading text-centre page-title">Page title example</h1>
	<h2 class="text-intro text-centre">Blog and portfolio of Ashley Nolan</h2>-->

	 {{!-- {{list posts}} --}}
	{{#withSort post 'data.posted'}}
		{{#each_upto this.pages 3}}
			{{this.key}}
			<a href="{{replaceStr this.dirname 'dist' ''}}/{{this.data.url}}" class="articles-item separator-bottom">
				<article>
					<time>{{moment this.data.posted format="DD/MM/YYYY" }}</time>
					<h2 class="articles-item-title">{{ this.data.title }}</h2>
					<p class="articles-item-description">{{ this.data.description }}</p>
				</article>
			</a>
		{{/each_upto}}
	{{/withSort}}
</section>

<!-- Homepage carousel -->
<section id="homeCarousel" class="homeCarousel">
	<h2 class="homeCarousel-title">Recent Work</h2>

	<div class="homeCarousel-wrapper">
		<div class="homeCarousel-carousel">
			<article id="workArticle1" class="homeCarousel-carousel-item" data-name="Just Eat">
				<a href="work#justeat" title="JUST EAT">
					<img class="featureImg" src="assets/img/work/home-justeat.png" alt="JUST EAT Logo">
					<div class="homeCarousel-carousel-item-title"><h3>JUST EAT</h3></div>
				</a>
			</article>
			<article id="workArticle4" class="homeCarousel-carousel-item" data-name="BBC GoodFood">
				<a href="work#bbcgoodfood" title="BBC GoodFood">
					<img class="featureImg" src="assets/img/work/home-bbc.png" alt="BBC GoodFood Logo">
					<div class="homeCarousel-carousel-item-title"><h3>BBC GoodFood</h3></div>
				</a>
			</article>
			<article id="workArticle2" class="homeCarousel-carousel-item" data-name="Lynx Peace">
				<a href="work#lynxpeace" title="Lynx Peace">
					<img class="featureImg" src="assets/img/work/home-peace.png" alt="Lynx Peace Logo">
					<div class="homeCarousel-carousel-item-title"><h3>Lynx Peace</h3></div>
				</a>
			</article>
			<article id="workArticle3" class="homeCarousel-carousel-item" data-name="Christmas Tracker">
				<a href="work#labs-christmastracker" title="Christmas Tracker">
					<img class="featureImg" src="assets/img/work/home-christmastracker.png" alt="Logo for ChristmasTracker.com">
					<div class="homeCarousel-carousel-item-title"><h3>Christmas Tracker</h3></div>
				</a>
			</article>
			<article id="workArticle5" class="homeCarousel-carousel-item" data-name="TMW Kickoff">
				<a href="work#labs-kickoff" title="Kickoff">
					<img class="featureImg" src="assets/img/work/home-kickoff.png" alt="Kickoff Logo">
					<div class="homeCarousel-carousel-item-title"><h3>TMW Kickoff</h3></div>
				</a>
			</article>
		</div>

		<div id="homeCarousel-canvasFrame" class="homeCarousel-canvasFrame">
			<a href="work#justeat" id="homeCarousel-canvasFrame-link" class="homeCarousel-canvasFrame-link">
				<canvas id="homeCarousel-canvasFrame-canvas" class="homeCarousel-canvasFrame-canvas" width="618" height="272"></canvas>
				<div class="homeCarousel-carousel-item-title">
					<h3>JUST EAT</h3>
				</div>
			</a>
		</div>
	</div>
</section><!-- End of work section panel -->
