---
title:
---

<section class="content articles separator-top">
	<!--<h1 class="gigaHeading text-centre page-title">Page title example</h1>
	<h2 class="text-intro text-centre">Blog and portfolio of Ashley Nolan</h2>-->

	 {{!-- {{list posts}} --}}
	{{#withSort post 'data.posted'}}
		{{#each_upto this.pages 3}}
			{{this.key}}
			<a href="{{replaceStr this.dirname 'dist' ''}}/{{this.data.url}}">
				<article class="articles-item separator-bottom">
					<time>{{moment this.data.posted format="DD/MM/YYYY" }}</time>
					<h2 class="articles-item-title">{{ this.data.title }}</h2>
					<p class="articles-item-description">{{ this.data.description }}</p>
				</article>
			</a>
		{{/each_upto}}
	{{/withSort}}
</section>

<!-- Homepage carousel -->
<section id="homeCarousel" class="homeCarousel">
	<h2 class="homeCarousel-title">Recent Work</h2>

	<div class="homeCarousel-wrapper">
		<div class="homeCarousel-carousel">
			<article id="workArticle4" class="homeCarousel-carousel-item" data-name="RSPCA">
			    <a href="work/rspca" title="RSPCA">
			    <img class="featureImg" src="assets/img/work/home-rspca.jpg" alt="">
			    	<div class="homeCarousel-carousel-item-title"><h3>RSPCA</h3></div>
			    </a>
			</article><article id="workArticle5" class="homeCarousel-carousel-item" data-name="Xbox Kinect">
			    <a href="work/kinect" title="Xbox Kinect">
			    <img class="featureImg" src="assets/img/work/home-kinect.jpg" alt="">
			    	<div class="homeCarousel-carousel-item-title"><h3>Xbox Kinect</h3></div>
			    </a>
			</article>
			<article id="workArticle1" class="homeCarousel-carousel-item" data-name=".NET Mag" class="active">
			    <a href="work/netmag" title=".NET Magazine">
			    <img class="featureImg" src="assets/img/work/home-dotnet.jpg" alt="">
			    	<div class="homeCarousel-carousel-item-title"><h3>.NET Magazine</h3></div>
			    </a>
			</article>
			<article id="workArticle2" class="homeCarousel-carousel-item" data-name="Disturbing London">
			    <a href="work/dl-records" title="DL Records">
			    <img class="featureImg" src="assets/img/work/home-dl.jpg" alt="">
			    	<div class="homeCarousel-carousel-item-title"><h3>DL Records</h3></div>
			    </a>
			</article>
			<article id="workArticle3" class="homeCarousel-carousel-item" data-name="Ford">
			    <a href="work/ford" title="Ford Showcase">
			    <img class="featureImg" src="assets/img/work/home-ford.jpg" alt="">
			    	<div class="homeCarousel-carousel-item-title"><h3>Ford Showcase</h3></div>
			    </a>
			</article>
		</div>

		<div id="homeCarousel-canvasFrame" class="homeCarousel-canvasFrame">
			<a href="" id="homeCarousel-canvasFrame-link" class="homeCarousel-canvasFrame-link">
				<canvas id="homeCarousel-canvasFrame-canvas" class="homeCarousel-canvasFrame-canvas" width="618" height="272"></canvas>
			</a>
		</div>
	</div>
</section><!-- End of work section panel -->