{{> html_start }}

	<div class="container">
		{{> masthead }}

		<section class="content post">
			<h1>{{ title }}</h1>

			{{> body }}

			{{> promos }}

			{{#if nodate}}{{else}}
			<p class="post-info separator-top">Article posted on the {{moment posted format="Do MMMM YYYY" }}</p>
			{{/if}}

			{{#if updated}}
				<p>Last updated on the <date>{{moment updated format="Do MMMM YYYY" }}</date></p>
			{{/if}}


			<div id="disqus_thread" class="comments separator-top"></div>

		</section>

		{{> footer }}
	</div>

{{#if nocomments}}
{{else}}

<script type="text/javascript">
var disqus_config = function () {
    this.page.url = 'https://ashleynolan.co.uk/blog/{{ url }}';  // Replace PAGE_URL with your page's canonical URL variable
    this.page.identifier = '{{ title }}'; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
};

(function() {
    var d = document, s = d.createElement('script');
    s.src = '//ashleynolan.disqus.com/embed.js';
    s.setAttribute('data-timestamp', +new Date());
    (d.head || d.body).appendChild(s);
})();
</script>
<noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

{{/if}}

{{> html_end }}
